__pycache__/
*.pyc
*.pyo
.env
*.log
*.bak
*.swp
.DS_Store
Thumbs.db
*.old
tools/
sandbox/
results/airport_scanresults.json
results/aircraft_scanresults.json
results/scan_report_ignored.csv
results/selected_aircraft.json
results/selected_airports.json



